# Node.js that uses React

trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main
  autoCancel: false

pool:
  name: linux-agent
  demands:
    - npm

variables:
  - name: NODE_VERSION
    value: "22.x"
  - name: CI
    value: false
  - group: FRONTEND_DOTENV_PRODUCAO

stages:
  - stage: Build
    displayName: Build and Test
    jobs:
      - job: Build_Job
        displayName: "Build React Application"
        steps:
          - checkout: self
            persistCredentials: true

          - task: NodeTool@0
            displayName: "Use Node.js $(NODE_VERSION)"
            inputs:
              versionSpec: $(NODE_VERSION)
          - bash: |
              pwd
              # Create .env file with DOTENV_ prefix removed
              printenv | grep '^DOTENV_' | while IFS='=' read -r name value; do
                echo "${name#DOTENV_}=${value}" >> .env
              done
              ls -la
              #cat .env
            displayName: 'Create DOTENV file'      

          - script: npm install
            displayName: "Install dependencies"

          - script: |
              git config user.name "Pipeline service user"
              git config user.email "pipeline.service@ufcspa.edu.br"
            displayName: "Configure git"
            condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest')) # Run only on CI push, not PR

          - script: npm version patch -m "Version bump %s ***NO_CI***"
            displayName: "Bump version"
            condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest')) # Run only on CI push, not PR

          - script: |
              git push origin HEAD:main
              git push --tags
            displayName: "Push version bump"
            condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest')) # Run only on CI push, not PR

          - script: npm run build
            displayName: "Build application"

          - task: ArchiveFiles@2
            displayName: "Archive build files"
            inputs:
              rootFolderOrFile: "$(System.DefaultWorkingDirectory)/dist/"
              includeRootFolder: false
              archiveType: "zip"
              archiveFile: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
              replaceExistingArchive: true
              verbose: true

  - stage: Deploy
    displayName: "Deploy Application"
    dependsOn: Build
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest')) # Run only on CI push, not PR
    jobs:
      - deployment: Deploy_to_Server
        displayName: "Deploy to Apache Server"
        environment: "Producao-Web PokéLab"
        strategy:
          runOnce:
            deploy:
              steps:
                - download: none
                - task: CopyFiles@2
                  displayName: "Copia arquivos para o diretório /var/www/pokelab.local/dist/"
                  inputs:
                    SourceFolder: "dist"
                    Contents: "**"
                    TargetFolder: "/var/www/pokelab.local/dist/"
                    CleanTargetFolder: true
