.pikachu-gif {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100px;
  height: auto;
  animation: pikachu-run 7s linear infinite;
}

@keyframes pikachu-run {
  0% {
    left: 0;
    opacity: 1;
  }
  95% {
    left: calc(100vw - 100px);
    opacity: 1;
  }
  97% {
    left: calc(100vw - 100px);
    opacity: 0;
  }
  97.1% {
    left: 0;
    opacity: 0;
  }
  98% {
    left: 0;
    opacity: 1;
  }
}
